@import '../../App.scss';

notification {
    height: fit-content;
    position: fixed;
    right: 0;

    ul {
        @include icon-wrapper;
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        vertical-align: middle;
        li {
            //@include icons-box(2rem, 1.5rem);
            cursor: pointer;
            padding: 4px 5px;
            border-radius: 0!important;
            img {
                height: 15px!important;
            }
        }
        li:hover {
            background-color: rgba(0,0,0,.1);
        }
        .time {
            display: flex;
            flex-direction: column;
            row-gap: 0;
            font-size: 0.9rem;
            text-align: right;
            padding: 0;
        }
        .date {
            font-size: 0.8rem;
        }
    }
}