@import "../../App.scss";
@import '../../Functions/animation.scss';

.footer {
    height: 100vh!important;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
}
footer {
    width: 100%;
    height: 40px;
    position: fixed!important;
    bottom: 0!important;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    z-index: 999;
    overflow: auto;
    box-shadow: $box-shw;
    background-color: $bg-white;
    backdrop-filter: blur(10px);
}
.app-wrapper {
    @include icon-wrapper;
    bottom: 0;
    width: fit-content;
    @include zoom-out;
}
.apps-btn {
    @include icons-box(2.6rem, 2rem);
    padding-bottom: 10px;
    border-radius: 0!important;
    img {
        height: 28px!important;
    }
}

.apps-btn:hover {
    transform: scale(1.5, 1.5);
    transition: 0.2s ease-in;
}
.logo {
    position: absolute;
    left: 20px;
    height: 35px;

}